<!DOCTYPE html>

<html>
    <head>
        {{> partials/head }}

        <!-- Javascript -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- Stylesheet -->
        <style>
            .view .header {
                /* Alignment */
                margin-top: 18px;
                margin-left: 30px;
            }

            .view .header h1 {
                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 25px;
                font-weight: 400;

                /* Colour */
                color: #2d3436;
            }

            .view .header h2 {
                margin-left: 5px;

                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 25px;
                font-weight: 300;

                /* Colour */
                color: #2d3436;
            }

            .view .container {
                width: 800px;

                margin-top: 50px;
                align-self: center;
            }

            .view .container .info {
                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }

            .view .container table {
                /* Size */
                width: 100%;

                /* Alignment */
                box-sizing: border-box;
                border-collapse: separate;
                border-spacing: 0px 20px;

                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }

            .view .container table td {
                /* Size */
                height: 44px;

                /* Alignment */
                padding: 0px 10px;

                /* Colour */
                background-color: #ecf0f1;
            }

            .view .container table td:last-child {
                /* Width */
                width: 180px;

                /* Alignment */
                text-align: center;

                /* Colour */
                color: #ffffff;
            }

            .view .container table .complete {
                /* Colour */
                background-color: #67b2e4;
            }

            .view .container table .packed {
                /* Colour */
                background-color: #67b2e4;
            }

            .view .container table .ready-to-pack {
                /* Colour */
                background-color: #62d995;
            }

            .view .container table .waiting-payment {
                /* Colour */
                background-color: #f5d34b;
            }

            .view .container table .void {
                /* Colour */
                background-color: #404040;
            }

        </style>
    </head>

    <body>
        {{> partials/side-menu }}
        
        <!-- View -->
        <div class="view">
            <!-- Header -->
            <div class="row header">
                <!-- Heading -->
                <h1>AusPost</h1>

                <!-- Sub Heading -->
                <h2>Prices</h2>
            </div>

            <!-- Container -->
            <div class="col container">
                <!-- Row -->
                <div class="row">
                    <!-- Info -->
                    <p class="info"><i class="fas fa-info-circle"></i> Click an order below to start packing.</p>
                </div>

                <!-- Spacer -->
                <br>

                <!-- Row -->
                <div class="row">
                </div>
            </div>
        </div>
    </body> 
</html>