<!DOCTYPE html>

<html>
    <head>
        {{> partials/head }}

        <style>
            .view .header {
                /* Alignment */
                margin-top: 18px;
                margin-left: 30px;
            }

            .view .header h1 {
                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 25px;
                font-weight: 400;

                /* Colour */
                color: #2d3436;
            }

            .view .header h2 {
                margin-left: 5px;

                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 25px;
                font-weight: 300;

                /* Colour */
                color: #2d3436;
            }

            .view .container {
                /* Size */
                height: 80%;
                width: 800px;

                /* Alignment */
                display: flex;
                align-self: center;
                justify-content: center;
            }

            .view .container .info {
                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }

            .view .container .stage {
                /* Alignment */
                align-items: center;
            }

            .view .container .stage h1 {
                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 30px;
                font-weight: 400;
            }

            .view .container .actions {
                /* Alignment */
                justify-content: center;
            }

            .view .container .nav {
                /* Alignment */
                justify-content: center;
            }

            .view .container .nav .button {
                /* Alignment */
                margin: 0px 10px;
            }

            #print {
                background-color: #62D995;
            }

            #back {
                background-color: #404040;
            }

            #done {
                background-color: #404040;
            }

            .disabled {
                opacity: 0.5;
            }

        </style>
    </head>

    <body>
        {{> partials/side-menu }}
        
        <!-- View -->
        <div class="view">
            <!-- Header -->
            <div class="row header">
                <!-- Heading -->
                <h1>Orders</h1>

                <!-- Sub Heading -->
                <h2>Pack</h2>

                <!-- DEBUG Heading -->
                <h2>{{orderId}}</h2>
            </div>

            <!-- Container -->
            <div class="col container">
                <!-- Row -->
                <div class="col stage">
                    <!-- Header -->
                    <h1>Print Shipping Label</h1>

                    <!-- Spacer -->
                    <br>

                    <!-- Info -->
                    <p class="info"><i class="fas fa-print"></i> Make sure to select the printer "{{printer}}".</p>
                </div>

                <!-- Spacer -->
                <br><br><br><br>

                <!-- Row -->
                <div class="row actions">
                    <a id="print" class="button" href="#" onclick="print()">Print</a>
                </div>

                <!-- Spacer -->
                <br><br><br><br>

                <!-- Row -->
                <div class="row nav">
                    <a id="back" class="button" href="#" onclick="back()">Back</a>
                    <a id="done" class="button" href="#" onclick="forward()">Done</a>
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script>
            var orderId = '{{orderId}}'

            function print() {
                window.open('/orders/shippinglabel' + '?orderid=' + orderId, '_blank')
            }

            function back() {
                window.history.back()
            }

            function forward() {
                if ($('#done').hasClass('disabled')) {
                    // Do nothing here, button is disabled
                }
                else {
                    $('#done').addClass('disabled')
                    window.location.href = '/orders/pack/complete' + '?orderid=' + orderId
                }
            }
        </script>
    </body> 
</html>