<!DOCTYPE html>

<html>
    <head>
        {{> partials/head }}

        <!-- Javascript -->
        <script src="/socket.io/socket.io.js"></script>

        <style>
            .view .header {
                /* Alignment */
                margin-top: 18px;
                margin-left: 30px;
            }

            .view .header h1 {
                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 25px;
                font-weight: 400;

                /* Colour */
                color: #2d3436;
            }

            .view .header h2 {
                margin-left: 5px;

                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 25px;
                font-weight: 300;

                /* Colour */
                color: #2d3436;
            }

            .view .container {
                /* Size */
                height: 80%;
                width: 800px;

                /* Alignment */
                display: flex;
                align-self: center;
                justify-content: center;
            }

            .view .container .info {
                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }

            .view .container .stage {
                /* Alignment */
                align-items: center;
            }

            .view .container .stage h1 {
                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 30px;
                font-weight: 400;
            }

            .view .container .actions {
                /* Alignment */
                justify-content: center;
                align-items: center;
            }

            .view .container .nav {
                /* Alignment */
                justify-content: center;
            }

            .view .container .nav .button {
                /* Alignment */
                margin: 0px 10px;
            }

            .view .container .actions h1 {
                /* Font */
                font-family: 'Montseratt', sans-serif;
                font-size: 27px;
                font-weight: 400;
            }

            .view .container .actions input {
                /* Font */
                margin-left: 5px;
                margin-bottom: 5px;
            }

            .view .container .actions .waiting-for-response {
                /* Colour */
                color: #f1c40f;
            }

            .view .container .actions .order-packed {
                /* Colour */
                color: #2ecc71;
            }

            .view .container .actions .hidden {
                display: none;
            }

            #back {
                background-color: #404040;
            }

            #continue {
                background-color: #404040;
            }

            .disabled {
                opacity: 0.5;
            }

        </style>
    </head>

    <body>
        {{> partials/side-menu }}
        
        <!-- View -->
        <div class="view">
            <!-- Header -->
            <div class="row header">
                <!-- Heading -->
                <h1>Orders</h1>

                <!-- Sub Heading -->
                <h2>Pack</h2>

                <!-- DEBUG Heading -->
                <h2>{{orderId}}</h2>
            </div>

            <!-- Container -->
            <div class="col container">
                <!-- Row -->
                <div class="col stage">
                    <!-- Header -->
                    <h1>Adjust Package</h1>

                    <!-- Spacer -->
                    <br>

                    <!-- Info -->
                    <p class="info"><i class="fas fa-info-circle"></i> Adjust any of the follow values if required.</p>
                </div>

                <!-- Spacer -->
                <br><br><br><br>

                <!-- Row -->
                <div class="col actions">
                    
                    <div class="row">
                        <p class="info">Length (cm): </p>
                        <input type="number" name="length" value="{{length}}">
                    </div>

                    <div class="row">
                        <p class="info">Width (cm): </p>
                        <input type="number" name="width" value="{{width}}">
                    </div>

                    <div class="row">
                        <p class="info">Height (cm): </p>
                        <input type="number" name="height" value="{{height}}">
                    </div>

                    <br>

                    <div class="row">
                        <p class="info">Weight (kg): </p>
                        <input type="number" name="weight" value="{{weight}}">
                    </div>
                </div>

                <!-- Spacer -->
                <br><br><br><br>

                <!-- Row -->
                <div class="row nav">
                    <a id="back" class="button" href="#" onclick="back()">Back</a>
                    <a id="continue" class="button" href="#" onclick="forward()">Continue</a>
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script>
            var orderId = '{{orderId}}'

            function back() {
                window.history.back()
            }

            function forward() {
                if ($('#continue').hasClass('disabled')) {
                    // Do nothing here, button is disabled
                }
                else {
                    $('#continue').addClass('disabled')
                    
                    $.ajax({
                        method: "POST",
                        url: "/orders/pack/3",
                        data: {
                            orderId: orderId,
                            length: $('input[name=length]').val(),
                            width: $('input[name=width]').val(),
                            height: $('input[name=height]').val(),
                            weight: $('input[name=weight]').val(),
                        }
                    })
                    .done(function(data) {
                        if (data.success) {
                            window.location.href = '/orders/pack/5' + '?orderid=' + orderId
                        }
                    })
                }
            }
        </script>
    </body> 
</html>